<section class="about" id="about" *ngIf="profileService.config() as info">
  <div class="container d-flex justify-content-between flex-column h-100">
    <div class="section-title flex-grow-1">
      <div class="row">
        <div class="col-lg-12">
          <div class="text-center">
            <h2 class="text_background">Qui suis-je ? <span class="heading_background">About Me</span></h2>
          </div>
        </div>
      </div>
    </div>
    <div class="section-content flex-grow-1">
      <div class="row align-items-center">
        <div class="col-md-8 mt-5 mt-md-0">
          <h3 class="m-0">Je suis {{ info.firstName }} {{ info.lastName }}</h3>
          <p class="my-4">{{ info.aboutMe }}</p>
          <div class="row">
            <div class="col-lg-6">
              <div class="about-info mb-2">
                <span class="desc">Nom :</span>
                <span>{{ info.lastName }}</span>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="about-info mb-2">
                <span class="desc">Email :</span>
                <span>{{ info.email }}</span>
              </div>
            </div>
             <div class="col-lg-6">
              <div class="about-info mb-2">
                <span class="desc">Tel :</span>
                <span>{{ info.phone }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>