<section class="portfolio" id="portfolio">
  <div class="container d-flex flex-column justify-content-between h-100 ">

    <div class="section-title flex-grow-1">
      <div class="row">
        <div class="col-lg-12">
          <div class="text-center">
            <h2 data-aos="heading-show" class="text_background">
              My Projects
              <span class="heading_background">Portfolio</span>
            </h2>
            <p class="m-0">Academic & Personal Projects.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="section-content flex-grow-1">
      <div class="row portfolio-items">

        <div class="col-xl-4 col-lg-4 col-md-6 mb-2 mt-4">
          <div class="portfolio-item">
            <a href="https://via.placeholder.com/510x600" class="portfolio-single portfolio-image">
              <div class="item-box">
                <div class="item-image">
                  <img src="https://via.placeholder.com/510x600" width="510" height="600"
                    class="d-block img-fluid mx-auto" alt="Application Flutter – Calculs Matriciels">
                </div>
                <div class="item-details d-flex align-items-center">
                  <div class="item-details-ins text-center w-100">
                    <h3>Application Flutter – Calculs Matriciels</h3>
                    <p>Application mobile permettant d'effectuer des calculs matriciels. (2024)</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-6 mb-2 mt-4">
          <div class="portfolio-item">
            <a href="https://via.placeholder.com/510x600" class="portfolio-single portfolio-image">
              <div class="item-box">
                <div class="item-image">
                  <img src="https://via.placeholder.com/510x600" width="510" height="600"
                    class="d-block img-fluid mx-auto" alt="Mini-site HTML – Coopérative éducative">
                </div>
                <div class="item-details d-flex align-items-center">
                  <div class="item-details-ins text-center w-100">
                    <h3>Mini-site HTML – Coopérative éducative</h3>
                    <p>Développement d'une plateforme d'apprentissage d'art, sur la sculpture & la peinture, en ligne,
                      en HTML/CSS. (2024)</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-6 mb-2 mt-4">
          <div class="portfolio-item">
            <a href="https://via.placeholder.com/510x600" class="portfolio-single portfolio-image">
              <div class="item-box">
                <div class="item-image">
                  <img src="https://via.placeholder.com/510x600" width="510" height="600"
                    class="d-block img-fluid mx-auto" alt="Projet GNS3 – Configuration de switchs">
                </div>
                <div class="item-details d-flex align-items-center">
                  <div class="item-details-ins text-center w-100">
                    <h3>Projet GNS3 – Configuration de switchs</h3>
                    <p>Projet utilisant le protocole STP, 4 PC, 2 Switchs; 2 Cisco IOSvL2 (Cisco Layer2). (2025)</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-6 mb-2 mt-4">
          <div class="portfolio-item">
            <a href="https://via.placeholder.com/510x600" class="portfolio-single portfolio-image">
              <div class="item-box">
                <div class="item-image">
                  <img src="https://via.placeholder.com/510x600" width="510" height="600"
                    class="d-block img-fluid mx-auto" alt="AbiHack 2025 - MiamMobile">
                </div>
                <div class="item-details d-flex align-items-center">
                  <div class="item-details-ins text-center w-100">
                    <h3>AbiHack 2025 – MiamMobile</h3>
                    <p>Application mobile Flutter intelligente de restauration, permettant la géo-localisation de
                      vendeuses & vendeurs de rue. Utilise l'IA pour suggérer les meilleures options, faciliter la mise
                      en relation client-vendeur & aider à la visibilité.</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-12 text-center mt-5">
          <a href="#" class="btn btn-outline-primary"><span><i class="fab fa-dribbble"></i></span> See More</a>
        </div>
      </div>

    </div>
  </div>
</section>