<div class="section facts backgound-section" style="background-image: url(https://via.placeholder.com/1920x1080)" data-aos-id="facts">

  <div class="container" *ngIf="profileService.config() as info">
    <div class="row">
      <div class="col-lg-3 col-sm-6 mt-3 mt-lg-0">
        <div class="fact-single text-center">
          <div class="fact-icon">
            <span class="mbri-timer"></span>
          </div>
          <div class="fact-info">
            <span class="tmcounter" data-from="0" [attr.data-to]="info.expYears" data-speed="1500">{{ info.expYears }}</span>+
          </div>
          <div class="fact-meta">
            <span>Years Experience</span>
          </div>
        </div>
      </div>


      <div class="col-lg-3 col-sm-6 mt-3 mt-lg-0">
        <div class="fact-single text-center">
          <div class="fact-icon">
            <span class="mbri-smile-face"></span>
          </div>
          <div class="fact-info">
            <span class="tmcounter" data-from="0" [attr.data-to]="info.happyClients" data-speed="1500">{{ info.happyClients }}</span>+
          </div>
          <div class="fact-meta">
            <span>Happy Clients</span>
          </div>
        </div>
      </div>


      <div class="col-lg-3 col-sm-6 mt-3 mt-lg-0">
        <div class="fact-single text-center">
          <div class="fact-icon">
            <span class="mbri-magic-stick"></span>
          </div>
          <div class="fact-info">
            <span class="tmcounter" data-from="0" [attr.data-to]="info.projectsDone" data-speed="1500">{{ info.projectsDone }}</span>
          </div>
          <div class="fact-meta">
            <span>Projects Done</span>
          </div>
        </div>
      </div>


      <div class="col-lg-3 col-sm-6 mt-3 mt-lg-0">
        <div class="fact-single text-center">
          <div class="fact-icon">
            <span class="mbri-download"></span>
          </div>
          <div class="fact-info">
            <span class="tmcounter" data-from="0" [attr.data-to]="info.downloads" data-speed="1500">{{ info.downloads }}</span>
          </div>
          <div class="fact-meta">
            <span>Lines of Code</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>