<section class="services" id="service">
  <div class="container d-flex flex-column justify-content-between h-100 ">

    <div class="section-title flex-grow-1">
      <div class="row">
        <div class="col-lg-12">
          <div class="text-center">
            <h2 data-aos="heading-show" class="text_background">
              What I Do
              <span class="heading_background">Services</span>
            </h2>
            <p class="m-0">Development of innovative web, mobile and IoT solutions.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="section-content flex-grow-1">
      <div class="row align-items-stretch">
        <div class="col-lg-4 col-md-6 mt-4 mb-2 d-flex">
          <div class="service-single text-left p-5 h-100 d-flex flex-column">
            <div class="service-icon">
              <span class="mbri-hot-cup"></span>
            </div>
            <h3 class="my-3">Web Development</h3>
            <p>Creation of dynamic websites and web applications with:
              <br>* Swing & FX(Java)
              <br>* Django(Python)
              <br>* Laravel & Slim(PHP)
              <br>* Angular & React(Javascript)
              <br>* Others modern frameworks.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-4 mb-2 d-flex">
          <div class="service-single text-left p-5 h-100 d-flex flex-column">
            <div class="service-icon">
              <span class="mbri-laptop" display="inline-block"></span><span class="mbri-mobile"
                display="inline-block"></span>
            </div>
            <h3 class="my-3">Responsive (Mobile & Desktop-First)</h3>
            <p>Designing websites that adapt to different screen sizes and devices for an optimal user experience.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-4 mb-2 d-flex">
          <div class="service-single text-left p-5 h-100 d-flex flex-column">
            <div class="service-icon">
              <span class="mbri-database"></span>
            </div>
            <h3 class="my-3">Data Analysis</h3>
            <p> Analyzing and interpreting data to extract insights and support decision-making with:
              <br>* With Json, I can quickly parse and manipulate data.
              <br>* With MySQL, I can efficiently query and manage relational databases.
              <br>* With PostgreSQL, I can leverage advanced SQL features and extensions.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-4 mb-2 d-flex">
          <div class="service-single text-left p-5 h-100 d-flex flex-column">
            <div class="service-icon">
              <span class="mbri-layers"></span>
            </div>
            <h3 class="my-3">User Friendly</h3>
            <p>Designing intuitive and easy-to-use interfaces that provide a great user experience.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-4 mb-2 d-flex">
          <div class="service-single text-left p-5 h-100 d-flex flex-column">
            <div class="service-icon">
              <span class="fa fa-fist-raised"></span>
            </div>
            <h3 class="my-3">Taekwondoist</h3>
            <p>Like to fight other practitioners and improve my Taekwondo skills.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-4 mb-2 d-flex">
          <div class="service-single text-left p-5 h-100 d-flex flex-column">
            <div class="service-icon">
              <span class="mbri-rocket"></span>
            </div>
            <h3 class="my-3">Robotics & IoT</h3>
            <p>As a future Biomedical Engineer, I am interested in the intersection of technology and healthcare,
              particularly in the field of robotics and the Internet of Things (IoT).</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>